name: Deploy to EC2

on:
  push:
    branches: [ "main" ]

jobs:
  build-and-deploy:
    runs-on: ubuntu-latest

    steps:
    - name: Checkout code
      uses: actions/checkout@v3

    - name: Login to Docker Hub
      uses: docker/login-action@v2
      with:
        username: ${{ secrets.DOCKER_USERNAME }}
        password: ${{ secrets.DOCKER_PASSWORD }}

    - name: Build and push Docker image
      uses: docker/build-push-action@v4
      with:
        context: .
        push: true
        tags: ${{ secrets.DOCKER_USERNAME }}/stock_servs:latest

    - name: Setup SSH Agent
      uses: webfactory/ssh-agent@v0.8.0
      with:
        ssh-private-key: ${{ secrets.EC2_SSH_KEY }}

    - name: Deploy to EC2
      env:
        EC2_USER: ${{ secrets.EC2_USERNAME }}
        EC2_HOST: ${{ secrets.EC2_HOST }}
        DOCKER_USER: ${{ secrets.DOCKER_USERNAME }}
      run: |
        ssh -o StrictHostKeyChecking=no ${EC2_USER}@${EC2_HOST} "docker stop stock_servs || true && docker rm stock_servs || true && docker pull ${DOCKER_USER}/stock_servs:latest && docker run -d --name stock_servs -p 8000:8000 --restart unless-stopped ${DOCKER_USER}/stock_servs:latest"
